<h1>Dashboard</h1>

Home of inventory and related things
for the smart campus energy lab.

<ul>
    <li><%= @num_items %> Total Items</li>
    <li><%= @num_manufacturers %> Total Manufacturers</li>
    <li><%= @num_vendors %> Total Vendors</li>
</ul>
